// _variables.scss

// Colors
$color-text-dark: rgba(64, 63, 61, 1);
$color-text-light: rgba(225, 212, 201, 1);
$color-accent: rgba(176, 144, 122, 1);

$color-background-body: rgba(225, 212, 201, 1);
$color-background-container: rgba(102, 95, 85, 1);
$color-background-backdrop: rgba(64, 63, 61, 0.8);

$color-border-light: rgba(193, 182, 173, 1);
$color-border-dark: rgba(102, 95, 85, 1);

$line-border: 2px;

$font-family: 'Inter';
